@use "../base/variables" as v;
@use "../base/mixins" as m;

.Characters {
  &-global {
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    justify-content: center;
    @include m.telefonoL {
      flex-flow: row wrap;
      gap: 3rem;
    }
    @include m.tabletL {
      justify-content: space-between;
    }
  }
  &-h2 {
    color: rgb(0, 0, 0);
  }
  &-img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    min-height: 20rem;
    max-height: 40rem;
  }
  &-cards {
    width: 100%;
    max-width: 30rem;
    position: relative;
    text-align: center;
  }
  &-icon {
    width: 2rem;
    fill: rgb(209, 209, 209);
  }

  &-info {
    position: absolute;
    width: 6rem;
    bottom: 4rem;
    left: 40%;
    background-color: #ee171e88;
    padding: 1rem;
    color: white;
    transition: all 0.5s ease;
    &:hover {
      background-color: #000000;
      color: #ee171e;
      left: 38%;
      width: 8rem;
    }
    &:active {
      background-color: #000000;
      color: #ee171e;
      left: 38%;
      width: 8rem;
    }
  }

  &-star {
    cursor: pointer;
    top: 1rem;
    right: 1rem;
    position: absolute;
    z-index: 2;
    background-color: red;
  }
}
