@use "../base/variables" as v;
@use "../base/mixins" as m;

.Favoritos {
  padding: 1rem;
  &-global {
    display: flex;
    flex-flow: column nowrap;
    gap: 6rem;
    justify-content: center;
    align-items: center;
    @include m.desktop {
      flex-flow: row wrap;
    }
  }
  &-card {
    position: relative;
    width: 100%;
    max-width: 30rem;
    height: 30rem;
  }
  &-img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: top;
    display: block;
  }
  &-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;

    width: 2rem;
  }
  &-name {
    text-align: center;
    padding: 1rem;
    width: 100%;
    background-color: red;
  }
  &-span {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
}
