.Characters-global {
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  justify-content: center;
}
@media screen and (min-width: 500px) {
  .Characters-global {
    flex-flow: row wrap;
    gap: 4rem;
  }
}
@media screen and (min-width: 1010px) {
  .Characters-global {
    justify-content: space-between;
  }
}
.Characters-h2 {
  color: rgb(0, 0, 0);
}
.Characters-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  min-height: 20rem;
  max-height: 40rem;
}
.Characters-cards {
  width: 100%;
  max-width: 30rem;
  position: relative;
  text-align: center;
}
.Characters-icon {
  width: 2rem;
  fill: rgb(209, 209, 209);
}
.Characters-info {
  position: absolute;
  width: 6rem;
  bottom: 7rem;
  left: 40%;
  background-color: rgba(238, 23, 30, 0.5333333333);
  padding: 1rem;
  color: white;
  transition: all 0.5s ease;
}
.Characters-info:hover {
  background-color: #000000;
  color: #ee171e;
  left: 38%;
  width: 8rem;
}
.Characters-info:active {
  background-color: #000000;
  color: #ee171e;
  left: 38%;
  width: 8rem;
}
.Characters-star {
  cursor: pointer;
  top: 1rem;
  right: 1rem;
  position: absolute;
  z-index: 2;
}

.Header {
  background-color: rgb(0, 0, 0);
  margin-bottom: 1rem;
}
.Header-global {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.Header-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.3rem;
}
.Header-logo {
  width: 4rem;
}
@media screen and (min-width: 1010px) {
  .Header-logo {
    width: 6rem;
  }
}
.Header-icon {
  width: 1.2rem;
  fill: rgb(196, 196, 196);
}
@media screen and (min-width: 1010px) {
  .Header-icon {
    width: 2rem;
  }
}
.Header-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.Header-input {
  background-color: white;
  border-style: none;
  padding: 0.5rem;
}
.Header-errors {
  color: red;
}
.Header-subcontainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: left;
  background-image: url(../../../public/assets/marvelFondo.jpg);
  background-position: center;
  object-fit: contain;
  padding: 0.5rem;
}
.Header-span {
  color: rgb(0, 0, 0);
}
.Header-span--activate {
  color: rgb(129, 199, 25);
  font-weight: bold;
}

.Favoritos {
  padding: 1rem;
}
.Favoritos-global {
  display: flex;
  flex-flow: column nowrap;
  gap: 6rem;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1250px) {
  .Favoritos-global {
    flex-flow: row wrap;
  }
}
.Favoritos-card {
  position: relative;
  width: 100%;
  max-width: 30rem;
  height: 30rem;
}
.Favoritos-img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  display: block;
}
.Favoritos-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
}
.Favoritos-name {
  text-align: center;
  padding: 1rem;
  width: 100%;
  background-color: red;
}
.Favoritos-span {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/*# sourceMappingURL=index.css.map */
